.nav {
    /*width: 300px;*/
    background-color: chartreuse;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 20vw;
    margin-right: 5vw;
}
.item a {
    display: block;
    color: crimson;
    text-decoration: none;
    font-size: 20px;

}
.item a.activelink {
    color: blue;
}